<ion-view view-title="Event">
  <ion-content>

	<div class="list card">

		<div class="item item-image ti">
			<h2>{{feed.message_title}}</h2>
			<img src="{{feed.pic}}">
		    <div class="clearfix"></div>
		</div>

		<div class="item item-avatar actionBarE ev">
		    <img ng-src="{{feed.logo_full}}">
	    	<button class="button button-small button-energized ican icon-left ion-card" ng-click="donatetoorg(feed.org_id)">Donate</button>
	    	<a class="button button-small button-balanced ican icon-left ion-link" navigate-To="{{feed.event_link}}">Event page</a>
		    <h2>{{feed.name}}</h2>
	    </div>

		<div class="item item-text-wrap">
			<ul class="list">
			    <li class="item">
			    	Date:<br/>
    		    	{{datify(feed.event_date,'date')}}
			    </li>
			    <li class="item">
			    	Start time:<br/>
    		    	{{datify(feed.event_date,'time')}}
			    </li>
			    <li class="item">
			    	Location:<br/>
			    	{{feed.event_location}}
			    </li>
			    <li class="item">
				    Details:<br/>
					{{feed.content}}
			    </li>
			</ul>
		</div>
	</div>
		<br/>
		<div class="clearfix"></div>

  </ion-content>
</ion-view>