<ion-view view-title="Home">
  <ion-content>
    <ion-list class="__feed">
      <ion-item ng-repeat="feed in feeds" href="#/app/feed/{{feed.message_id}}">
      	<div class="list">

		    <a class="item item-thumbnail-left" href="#">
		      <img ng-src="{{feed.pic}}" src="img/ionic.png">
		      <h2>{{feed.message_title}}</h2>
		      <p>{{feed.content}}</p>
		    </a>
			<div class="actionBar">
		    	<button class="button button-circle button-small icon ion-cash"></button>
		    	<button class="button button-circle button-small icon ion-share"></button>
		    	<button class="button button-small button button-positive seemore">see more</button>
		    </div>
		</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
