<ion-view view-title="Home">
  <ion-content>
    <ion-list class="__feed">
      <ion-item ng-repeat="org in organizations" href="#/app/playlists/{{org.id}}">
      	<div class="list">

		    <a class="item item-thumbnail-left" href="#">
		      <img src="img/ionic.png">
		      <h2>{{org.title}}</h2>
		      <p>{{org.details}}</p>
		    </a>
			<div class="actionBar">
		    	<button class="button button-circle button-small icon ion-cash"></button>
		    	<button class="button button-circle button-small icon ion-share"></button>
		    	<button class="button button-small button button-positive seemore">see more</button>
		    </div>
		</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
