<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>

  <div class="tabs-striped tabs-color-positive">
    <div class="tabs tabs-icon-top">
      <a class="tab-item active" href="#">
        <i class="icon ion-home"></i>
        Home
      </a>
      <a class="tab-item active" href="#">
        <i class="icon ion-calendar"></i>
        Events
      </a>
      <a class="tab-item active" href="#">
        <i class="icon ion-chatbubbles"></i>
        Messages
      </a>
      <a class="tab-item active" href="#">
        <i class="icon ion-cash"></i>
        Donate
      </a>
      <a class="tab-item active" href="#">
        <i class="icon ion-android-hand"></i>
        Pledge
      </a>
    </div>
  </div>
  </ion-side-menu-content>

  <ion-side-menu side="right" id="__sideMenu">
    <ion-header-bar class="bar-stable bar-positive">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list class="__sideList">
        <ion-item>
          <div id="__user">
            <img src="img/dummy.jpg">
          </div>
          <h1>Jhon Doe</h1>
        </ion-item>
        <ion-item menu-close href="#">
          My Organization
        </ion-item>
        <ion-item menu-close href="#/app/profile">
          Profile
        </ion-item>
        <ion-item menu-close ng-click="terms()">
          Terms &amp; Condition
        </ion-item>
        <ion-item menu-close ng-click="privacy()">
          Privacy Policy
        </ion-item>
        <ion-item>
          Help
        </ion-item>
        <ion-item menu-close ui-sref="login">
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
