<ion-view view-title="Pledge">
<ion-content has-header="true">

<div class="list card" style="margin-top:4px">
	<div class="item item-body">
		<ion-slide-box show-pager="false">

		<ion-slide ng-repeat="item in data.slides">
		<img ng-src="{{item.image}}" width="130" height="130"/>
		<h1>{{item.title}}</h1>
		<h2>{{item.data}}</h2>
	</ion-slide>

</ion-slide-box><br>
<div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Amount:
    </div>
    <select>
      <option>$20</option>
      <option selected>$30</option>
      <option>$40</option>
      <option>Other</option>
    </select>
  </label>

</div>
<input type="text" style="margin-left:10px" ng-model="selectedItem.description" placeholder="{{item.description}}" class="form-control" ng-pattern="" />
<a class="button button-icon icon" ng-click="showAlert()"><img src="img/3.png" width="40" height="40"></a>
</div>
</div>
<div class="list card" style="margin-top:-16px">
	<div class="item item-body">
		<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Billing Address</span>
		    <input type="text" placeholder="Billing Address">
		  </label>
		  <label class="item item-input item-stacked-label item-3">
		    <span class="input-label">City</span>
		    <input type="text" placeholder="City">
		  </label>
		  <label class="item item-input item-stacked-label item-3">
		    <span class="input-label">State</span>
		    <input type="text" placeholder="State">
		  </label>
		  <label class="item item-input item-stacked-label item-3">
		    <span class="input-label">Zip</span>
		    <input type="text" placeholder="Zip">
		  </label>
		</div>
		<p><b>NOTE:</b>   Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
	</div>
</div>
</div>
</div>
</ion-content>

</ion-view>
