<ion-view view-title="Profile">
  <ion-content class="__profile">
  	<div class="card">
		<div class="item item-avatar ">
	    	<img src="img/dummy.jpg">
	    	<p>Change Profile Photo</p>
			<button class="button button-positive">Upload</button>
		</div>

		<div class="item item-body">
			<div class="list">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">New Password</span>
			    <input type="password" placeholder="">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Retype New Password</span>
			    <input type="password" placeholder="">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Email</span>
			    <input type="text" placeholder="john@suhr.com">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Contact Name</span>
			    <input type="text" placeholder="jon doe.">
			  </label>
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Contact Phone</span>
			    <input type="text" placeholder="+1 236-8957">
			  </label>
			</div>
		</div>
	  	<button class="button button-positive button-block" ui-sref="app.home"> Save</button>	
  	</div>
  	<br/>
  </ion-content>
</ion-view>
