<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Terms &amp; Conditions</h1>
  </ion-header-bar>
  <ion-content ng-controller="ModalController">
    <div ng:repeat="t in terms" ng-bind-html-unsafe="t.html">
      <div ng-bind-html="t.tc_donor"></div>
    </div>
    {{terms[0]}}
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-positive">
    <div class="buttons" ng-click="closeMod()">
      <button class="button pull-right">Okay</button>
    </div>
  </ion-footer-bar>
</ion-modal-view>
