/* Empty. Add your own CSS if you like */

/*Playlists <=== rename this shit*/
#__sideMenu, 
.__sideList .list .item,
.__sideList .list .item-complex,
.__sideList .list .item-complex .item-content{
	background-color: #29A0DD !important;
	color: #fff;
  	border-left: none;
  	border-right: none;
}

.__sideList .list .item:first-child{
	border-top:none;
}

.__sideList .list .item{
	margin-left:20px;
	margin-right:5px;
}

.__sideList .list .item h1{
	color:#fff;
	text-align: center;
  font-size: 18pt;
}

.__sideList a{
  color: #fff;
  text-decoration: none;
}

#__user img {
  width: 100%;
}

#__user {
  border-radius: 50%;
  overflow: hidden;
}

.__feed .list > a{
	border: none;
	background-color: transparent;
}

.__feed ion-item {
  border-top-width: 8px;
}

.__feed h3{
	display: inline-block;
}

.__feed i.social {
  float: right;
  display: inline-block;
  background-color: #0096FF;
  border-radius: 50%;
  width: 20px;
  text-align: center;
  color: #fff;}

.seemore{
	float:right;
}

.actionBar {
  padding-left: 106px;
}


.__feed .seemore{
  min-height: initial;
  height: 24px;
  line-height: normal;
}

/*Login*/
#__signup,
#__login{
	background-color: #29A0DD;
}

#__login .card,
#__signup .card,
#__login .list .item{
	background-color: transparent;
}

#__signup .card,
#__login .card{
	box-shadow: none;
}

#__login .list .item input[type="password"],
#__login .list .item input[type="text"]{
	width: calc(100% - 32px);
	padding: 7px
}

#__login .list{
	width: calc(100% - 80px);
	margin: auto;
}

#__login .list .item i{
	color: #fff;
}

.__img{
	width: 200px;
}

.__loginButton,
.__logo{
	text-align:center;	
}

.__loginButton .button.button-outline{
	color: #fff !important;
	border-color: #fff !important;
}

.__loginFooter button{
	margin-top: 0 !important;
}

.__loginFooter .title,
.__loginFooter{
	height: 90px;
}

.__loginForm .item{
	border: none !important;
}

#__signup h3{
	text-align: center;
	color: #fff;
}
#__signup .__signupForm{
	width: calc(100% - 70px);
	margin: auto;
}
#__signup .__signupForm .item {
  margin: 4px 0;
  background-color: transparent;
  border-bottom: transparent;
}

#__signup .__signupForm .item input[type="text"],
#__signup .__signupForm .item input[type="password"]{
	background-color: #fff;
	padding: 7px;
}

.pull-right {
  right: 5px;
  position: absolute;
}

.button-circle img{
  width: 40px;
  
}
.button-circle {
  background-color: transparent;
  border: none;
}

.actionBar .button-circle{
//  background-color: #ED8C2B;
  color: #fff !Important;
}

.__profile .item-avatar{
	padding-left: 16px;
	background-color: #E5E5E5;
}
.__profile .item-avatar > img:first-child{
  right: 16px !important;
  left: initial;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.__terms .item-accordion h1,
.__terms .item-accordion h2,
.__terms .item-accordion p,
.__terms .item-accordion {  
	white-space: normal !Important;
}

.item-3{
  width: 30% !important;
  margin: 0;
  display: inline-block;
}

.noshow{
  display:none;
}

.__feed .org h3{
    height: 24px;
    vertical-align: middle;  
}
.__feed .org img{
  width: 24px;
  height: 24px    
}

.unread {
    background-color: #B7B7B7;
}

.unread > * {
    transform: scale(1.02);
    font-weight: bolder;
    color: #000 !important;
}

.clearfix {
  clear: both;
}

.__org .item img{
  z-index: 3;
}

.__org .item .item-content {
    padding-top: 33px;
}